@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --text: #010304;
    --background: #e7f0f3;
    --primary: #2c5063;
    --secondary: #cee3ee;
    --accent: #5ca4b7;
  }
  .dark {
    --text: #fbfdfe;
    --background: #0c1518;
    --primary: #9cc0d3;
    --secondary: #112631;
    --accent: #488fa3;
  }
}